@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 900vh;
    background-color: azure;
}

nav.menu-lateral{ /* Configuração do menu lateral*/
    width: 65px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #7a0a05;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral.expandir{ /*Configuração do tamanho do menu depois de expandido */
    width: 300px;
}

.btn-expandir { /*Configuração do tamanho/espaçamento do botão de expandir */
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{ /*Configuração de cor/fonte/alteração do cursor do botão de expandir */
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
}


/*Configuração dos itens do menu */
ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}

/*Quando passar o mouse na opção desejada, vai mudar do preto pro vermelho */
ul li.ativo{
    background-color: #7a0a05;
}

/*Deixar bonitinho do lado*/
ul li.item-menu:hover{
    background: #7a0a05;
}

ul li.item-menu a{ /*Configurando cor/tamanho da fonte dos nomes das opções*/
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

/*Adicionando transição na hora de expandir o menu*/
ul li.item-menu a .txt-link{
    margin-left: 50px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 30px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 35px;
    margin-left: 5px;
}

nav.home{
    background-color: #202020;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 900vh;
    background-color: azure;
}

nav.menu-lateral{ /* Configuração do menu lateral*/
    width: 65px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #7a0a05;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral.expandir{ /*Configuração do tamanho do menu depois de expandido */
    width: 300px;
}

.btn-expandir { /*Configuração do tamanho/espaçamento do botão de expandir */
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{ /*Configuração de cor/fonte/alteração do cursor do botão de expandir */
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
}

/*Configuração dos itens do menu */
ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}

/*Quando passar o mouse na opção desejada, vai mudar do preto pro vermelho */
ul li.ativo{
    background-color: #7a0a05;
}

/*Deixar bonitinho do lado*/
ul li.item-menu:hover{
    background: #7a0a05;
}

ul li.item-menu a{ /*Configurando cor/tamanho da fonte dos nomes das opções*/
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

/*Adicionando transição na hora de expandir o menu*/
ul li.item-menu a .txt-link{
    margin-left: 50px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 30px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 35px;
    margin-left: 5px;
}

nav.home{
    background-color: #202020;
}


* {
	box-sizing: border-box;
}
body {
	height: 100vh;
	margin: 0 auto;
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size: 16px;
}
.container {
	width: 100%;
	height: 100%;
}
.hero {
	height: 80%;
	max-height: 520px;
	background: #f5f3f4;
}
.header {
	display: flex;
	justify-content: flex-end;
	margin: 0 45px;
}
.header ul {
	display: flex;
	align-items: center;
}
.header ul li {
	list-style: none;
	margin: 0 25px;
	color: #3e3e3e;
}
.header ul li a {
	text-decoration: none;
	color: #3e3e3e;
}
.header ul li a:hover {
	color: #ea1d2c;
}
.header ul li:last-child {
	background: #fff;
	padding: 15px 45px;
	margin: 0 0 0 25px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	color: #ea1d2c;
	font-weight: 500;
}
.header ul li:last-child:hover {
	background: #ea1d2c;
	color: #fff;
}
.bg {
	display: flex;
	height: 100%;
	padding-bottom: 20px;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content .logo {
	width: 300px;
}
.content h2 {
	font-size: 2.5rem;
	color: #3e3e3e;
	font-weight: 600;
	margin: 20px 0;
}
.content h2 span {
	color: #ea1d2c;
}
.content p {
	color: #3e3e3e;
	font-size: 1.25rem;
	font-weight: 500;
}
.form {
	width: 100%;
	max-width: 780px;
	display: flex;
}
.form .search {
	width: 100%;
	max-width: 650px;
	background: #fff;
	height: 50px;
	border-radius: 4px;
	margin-right: 20px;
	display: flex;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}
.form .search img {
	width: 26px;
	margin: 0 20px;
}
.form .search input {
	width: 100%;
	background: transparent;
	border: 0;
	outline: none;
	font-size: 1rem;
}
.form .search input::placeholder {
	font-weight: 400;
	color: #a6a6a6;
}
.form button {
	width: 210px;
	background: #ea1d2c;
	color: #fff;
	font-weight: 400;
	border: 0;
	border-radius: 4px;
}
.form button:hover {
	background: #c2121f;
}
.tags {
	margin: 30px 0;
}
.tags span {
	font-size: 0.875rem;
	font-weight: 400;
	color: #818181;
	border: 1px solid #ccc;
	padding: 4px;
	border-radius: 3px;
	margin: 6px;
}
.banner {
	display: flex;
	justify-content: center;
	padding: 20px;
}
.banner img {
	width: 100%;
	max-width: 390px;
	margin: 0 10px;
	transition: 0.2s;
}
.banner img:hover {
	transform: scale(1.02);
}
.footer {
	margin: 20px;
	border-top: 1px solid #dcdcdc;
	display: flex;
	padding: 20px 0;
}
.footer img {
	width: 50px;
}
.footer span {
	font-size: 0.8125rem;
	color: #818181;
	margin: 0 20px;
}
