* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url('/static/imagens/Fundo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;     
  justify-content: flex-end;
  padding-right: 20%;
  color: #fff;
}

.form-box {
  background: rgb(71, 67, 67);
  border-radius: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.links a {
  color: #ffffffcc;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.btn {
  padding: 12px;
  background-color: #00c896;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #009d77;
}

@media (max-width: 480px) {
  .form-box {
    padding: 20px;
    transform: translateX(20px);
  }

  .btn {
    padding: 10px;
  }

  .links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.logo-mobile {
  display: none;
  width: 150px;
  margin: 0 auto 20px; 
}


@media (max-width: 480px) {
  .logo-mobile {
    display: block;
    margin-right: 50px;
    margin-left: auto; 
  }
}